####################################################################
# WhiteSource Unified-Agent configuration file
####################################################################
##########################################
# GENERAL SCAN MODE: Files and Package Managers
##########################################

##################################
# Organization tokens:
##################################

apiKey=

projectName=

productName=

wss.url=https://saas.whitesourcesoftware.com/agent

############
# Policies #
############
checkPolicies=false
forceCheckAllDependencies=false
forceUpdate=false
forceUpdate.failBuildOnPolicyViolation=false

########################################
# Package Manager Dependency resolvers #
########################################
resolveAllDependencies=true

npm.resolveAdditionalDependencies=true

bower.runPreStep=true

nuget.resolvePackagesConfigFiles=true
nuget.resolveCsProjFiles=true
nuget.resolveDependencies=true
nuget.restoreDependencies=true

nuget.runPreStep=false

python.ignorePipInstallErrors=true

includes=**/*.dll **/*.exe
## Exclude file extensions or specific directories by adding **/*.<extension> or **/<excluded_dir>/**
excludes=**/*sources.jar **/*javadoc.jar 
   
case.sensitive.glob=false
followSymbolicLinks=true
