####################################################################
# WhiteSource Unified-Agent configuration file
####################################################################

# Reference: https://whitesource.atlassian.net/wiki/spaces/WD/pages/1544880156/Unified+Agent+Configuration+Parameters

wss.url=https://saas.whitesourcesoftware.com/agent

# Effective Usage Analysis Options
# https://whitesource.atlassian.net/wiki/spaces/WD/pages/572850338/EUA+Setting+Up+a+Project+for+Effective+Usage+Analysis

enableImpactAnalysis=true
resolveAllDependencies=false
requireKnownSha1=false

# Prevent EUA returning non-zero return codes (Support case: 00062422)
ignoreEuaNotices=ALL

includes=**/*.dll **/*.exe
nuget.resolveDependencies=true
nuget.restoreDependencies=true
nuget.resolveCsProjFiles=true
nuget.resolveNuspecFiles=true
nuget.csProj.resolveProjectReference=true
nuget.resolveAssetsFiles=true
nuget.resolvePackagesConfigFiles=true
