####################################################################
# WhiteSource Unified-Agent configuration file
####################################################################
##########################################
# GENERAL SCAN MODE: Files and Package Managers
##########################################

##################################
# Organization tokens:
##################################

apiKey=

#userKey is required if WhiteSource administrator has enabled "Enforce user level access" option
#userKey=

projectName=
#projectVersion=
#projectToken=

productName=
#productVersion=
#productToken=
#updateType=APPEND
#requesterEmail=user@provider.com

#wss.connectionTimeoutMinutes=60
# Change the below URL to your WhiteSource server.
# Use the 'WhiteSource Server URL' which can be retrieved
# from your 'Profile' page on the 'Server URLs' panel.
# Then, add the '/agent' path to it.
wss.url=https://saas.whitesourcesoftware.com/agent



############
# Policies #
############
checkPolicies=false
forceCheckAllDependencies=false
forceUpdate=false
forceUpdate.failBuildOnPolicyViolation=false

########################################
# Package Manager Dependency resolvers #
########################################
resolveAllDependencies=true

npm.resolveAdditionalDependencies=true

bower.runPreStep=true

nuget.resolvePackagesConfigFiles=true
nuget.resolveCsProjFiles=true
nuget.resolveDependencies=true
nuget.restoreDependencies=true

nuget.runPreStep=false

python.ignorePipInstallErrors=true

## Exclude file extensions or specific directories by adding **/*.<extension> or **/<excluded_dir>/**
excludes=**/*sources.jar **/*javadoc.jar 
   
case.sensitive.glob=false
followSymbolicLinks=true   
