####################################################################
# WhiteSource Unified-Agent configuration file
####################################################################

##################################
# Organization tokens:
##################################

apiKey=

projectName=

productName=

wss.url=https://saas.whitesourcesoftware.com/agent

############
# Policies #
############
checkPolicies=false
forceCheckAllDependencies=false
forceUpdate=false
forceUpdate.failBuildOnPolicyViolation=false

########################################
# Package Manager Dependency resolvers #
########################################
resolveAllDependencies=false

docker.scanImages=true
docker.includes=.*erscontainerregistry.*latest

includes=**/**
excludes=